@import "../debris/variable";

.previewer-wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px;
}

#previewer {
  max-width: 980px;
  margin: 0 auto;

  & > *:first-child {
    margin-top: 0;
  }

  h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid $baseColor;
  }
  h2 {
    border-left: $baseColor 10px solid;
    background: #fafafa;
    padding: 10px 0 10px 15px;
    margin: 30px 0 10px;
  }
  h3 {
    border-left: $baseColor 8px solid;
    background: #fafafa;
    padding: 8px 0 8px 12px;
  }
  h4 {
    border-left: $baseColor 6px solid;
    padding: 6px 0 6px 10px;
    background: #fafafa;
  }
  p {
    line-height: 1.5;
  }
  pre {
    box-shadow: 0 0 10px 0 #333;
    max-width: 800px;
    margin: .5em auto;
    code {
      white-space: pre-wrap;
      word-break: break-word;
      background: none;
    }
  }
  pre[data-lang] {
    position: relative;
    overflow: visible;
    margin-top: 2em;
    border-top-left-radius: 0;
    &:before {
      box-shadow: 0 0 10px 0 #333;
      content: attr(data-lang);
      font-size: .6em;
      line-height: 1;
      padding: .5em 1em;
      position: absolute;
      top: 1px;
      left: 0;
      transform: translate3d(0, -100%, 0);
      background: inherit;
      color: #fff;
      border-radius: .3em .3em 0 0;
    }
  }
  code {
    background: rgba(110, 203, 243, 0.24);
    padding: 2px 8px;
    border-radius: 3px;
  }

  kbd {
    padding: 3px 5px;
    color: #fff;
    background: #000;
    border-radius: 4px;
    box-shadow: 3px 3px 2px #333;
    border: 1px solid #fff;
    margin-right: 4px;
  }

  blockquote {
    background: lighten($baseColor, 49%);
    border-left: 5px solid $baseColor;
    margin: 10px;
    padding: 10px;
    color: lighten($textColor, 30%);
    & > p {
      line-height: 1.2;
      margin: .5em;
    }
  }

  //hr{border-color: $baseColor}

  table {
    //border: 1px solid $baseColor;
    border-collapse: collapse;
    thead {
      background: lighten($baseColor, 30%);
    }
    td, th {
      border: none;
      padding: 4px 10px;
    }
    tr:nth-child(2n){
      background: lighten($baseColor, 49%);
    }
  }
}
