<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_ldzv4ef4d7psyvi.css">
    <base target="_blank"/>
</head>
<body>
<div id="root"></div>
</body>
</html>
